/* Footer design */
.footer{
  background-color: #333333;
  height: 100px;
  padding: 30px;
}

.footer p {
  color:#CCCCCC;
}

.designed-list > li > a{
  padding: 10px;
  font-size: 30px;
  color:#CCCCCC;
}
